html
{
    background-color: #000000;
}
div
{
    border-radius: 5px;
    }
#header
{
    position: fixed;
    z-index: 1;
    height:40px;
    width: 98%;
    background-color: #000000;
    margin-bottom: 10px
    }

#name {
    float:left;
	margin-left: 25px;
	padding-bottom: 12.5px;
	font-size: 16px;
	font-family: Verdana, sans-serif,;
	color: #ffffff;
}

#email{
    float:right;
    margin-right: 25px;
	padding-bottom: 12.5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
    }

a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 99.5%;
    background-color: #ffffff;
    }
    
#footer
{
    height:35px;
    width: 99.5%;
    clear:both;
    position: relative;
    background-color: #1ed69f6c;
    }

h3
{
    text-decoration: underline;
    font-family: Arial Narrow Bold, sans-serif;
}
h2
{
    text-decoration: underline;
    }
#independent-qualifications
{
    padding: 1px;
}
#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #962222;
    }

#course-name
{
    font-weight:bold;
    font-size: large;
    }

#company-name
{
    height:2px;
    text-decoration:underline;
    }
#job-title
{
    height: 5px;
    }
#duration
{
    float:right;
    }
#heading
{
    font-weight:bold;
    }